{extend name="public/base" /}
{block name="header"}
    <title>常见问题</title>
    __BASE_CSS__
    <link rel="stylesheet" href="__PUBLIC__/static/genaral/css/problem.css"/>

    __JQUERY__
{/block}
{block name="body"}
<div class="prob_list">
	{volist name="list" id="vo"}
		<div class="b-line">
			<p class="prob_title">{:$key+1}、{$vo.question}<span class="arrows-r">></span></p>
			<p class="prob_desc">{$vo.answer}</p>
		</div>
	{/volist}
</div>

<script>
$(function(){
	$('.prob_title').click(function(){
		var desc = $(this).next();

		if (desc.is(':hidden')) {
			$(this).children('.arrows-r').css('transform', 'rotate(90deg)');
			desc.show();;
		} else {
			$(this).children('.arrows-r').css('transform', 'rotate(0deg)');
			desc.hide();
		}
	})
})
</script>
{/block}